.main{
    width: 70%;
    margin: auto;
    margin-top: 120px;
    &__title{
        font-size: 44px;
        font-weight: bold;
        margin: 55px 0px;
    }
    &__cards{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    &__card{
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-bottom: 1px solid #c2c0c0;
        .card__title{
            font-size: 30px;
            font-weight: bold;
        }
        .card__info{
            font-size: 20px;
        }
        .card__span{
            color: #8695A4;
        }
    }
}